@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
.sliderThumbTailProps::-webkit-slider-thumb{
    @apply appearance-none w-[25px] h-[25px] bg-[#33cccc] rounded-[50%] cursor-pointer outline outline-1 shadow-[0_0_0_0_rgba(98,0,238,.1)] ;
}


.sliderThumbTailPropsActive:active::-webkit-slider-thumb{
    @apply shadow-[0_0_0_8px_#a7e2e2] outline-none;
}
}


@layer components {
    .checkedBoxInput:checked::before{
        content: "\2713";
        font-family:  ;
        background-color:#33cccc;
        font-size: 20px;
        font-weight: 900;
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        
    }

    .checkBoxInput::before{
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        border-radius: 5px;
        border: 1px solid rgb(63, 63, 63);
    }

 
    .checkBoxInput:focus::before{
        box-shadow: .1px .1px 35px 2px #33cccc;
    }

}